*.a
*.cache
*.html
*.la
*.lo
*.log
*.o
*.plist
*.pyc
*.stamp
*.swp
*.trs
*~
.deps/
.dirstamp
.libs/
/*.gcda
/*.gcno
/*.tar.bz2
/*.tar.gz
/*.tar.xz
/Makefile
/TAGS
/build-aux
/busctl
/coverage/
/defined
/exported
/exported-*
/install-tree
/libsystemd-*.c
/libtool
/loginctl
/systemadm
/systemctl
/systemd
/systemd-activate
/systemd-analyze
/systemd-binfmt
/systemd-cgls
/systemd-cgroups-agent
/systemd-cgtop
/systemd-delta
/systemd-detect-virt
/systemd-fsck
/systemd-getty-generator
/systemd-inhibit
/systemd-initctl
/systemd-kmsg-syslogd
/systemd-logind
/systemd-modules-load
/systemd-multi-seat-x
/systemd-notify
/systemd-quotacheck
/systemd-random-seed
/systemd-readahead
/systemd-remount-api-vfs
/systemd-remount-fs
/systemd-reply-password
/systemd-rfkill
/systemd-run
/systemd-shutdown
/systemd-shutdownd
/systemd-sleep
/systemd-tmpfiles
/systemd-uaccess
/systemd-update-utmp
/systemd-user-sessions
/tags
/test-architecture
/test-async
/test-boot-timestamp
/test-bus-chat
/test-bus-cleanup
/test-bus-creds
/test-bus-error
/test-bus-gvariant
/test-bus-introspect
/test-bus-marshal
/test-bus-match
/test-bus-objects
/test-bus-server
/test-bus-signature
/test-calendarspec
/test-capability
/test-cgroup
/test-cgroup-mask
/test-cgroup-util
/test-condition-util
/test-conf-files
/test-daemon
/test-date
/test-ellipsize
/test-engine
/test-env-replace
/test-event
/test-fdset
/test-fileio
/test-hashmap
/test-id128
/test-inhibit
/test-install
/test-ipcrm
/test-job-type
/test-libsystemd-sym*
/test-libsystemd-*-sym*
/test-list
/test-log
/test-login
/test-login-shared
/test-login-tables
/test-machine-tables
/test-namespace
/test-network
/test-ns
/test-path-util
/test-prioq
/test-ratelimit
/test-replace-var
/test-sched-prio
/test-sleep
/test-socket-util
/test-ssd
/test-strbuf
/test-strip-tab-ansi
/test-strv
/test-strxcpyx
/test-tables
/test-time
/test-tmpfiles
/test-unit-file
/test-unit-name
/test-utf8
/test-util
/test-watchdog
/test-xml
/undefined
Makefile.in
__pycache__/
aclocal.m4
config.h
config.h.in
config.log
config.status
configure
stamp-*
